$gridBuilderRowPadding   : .5em

@mixin gridBuilderColumn
  color                  : $white
  float                  : left
  font-weight            : bold
  margin                 : 0 1em 0 0
  padding                : .2em .2em .2em .2em

  
.gridBuilderContainer
  @include defaultBorder
  background-color       : $midGrey
  margin                 : 2em 0 0 0
  width: 55em
  .short
    width                : 8em
  .medium
    width                : 12em
  .long
    width                : 20em
  
  .gridBuilderHeaderRowClass
    background-color     : $greyTwo
    margin               : 0 0 .5em 0
    padding              : 0 0 0 0
    
    .gridBuilderHeaderClass
      @include gridBuilderColumn
      border-width: .2em .2em .2em .2em
      border-style: solid
      border-color: $greyTwo $greyTwo $greyTwo $greyTwo
      &:hover
        background-color : $greyOne !important
        color: $greyFive
      
    .ascending
      border-width: .2em .2em .2em .2em
      border-style: solid
      border-color: $greyFive $greyTwo $greyTwo $greyTwo
    
    .descending
      border-width: .2em .2em .2em .2em
      border-style: solid
      border-color:  $greyTwo $greyTwo $greyFive $greyTwo
    
  .gridBuilderRowContainer
    height               : 8em
    margin               : 0 0 .5em 0
    padding              : 0 0 0 0

    .gridBuilderMessageClass
      color              : $white
      font-size          : 2em
      margin             : .5em .5em .5em .5em

    .gridBuilderRowClass
      &:hover
        background-color : $greyTwo !important
      .gridBuilderColumnClass
        @include gridBuilderColumn
      
    
  .gridBuilderButtonRowClass
    padding              : 0 0 .5em 0
  
    .pagerEnabledClass
      @inlcude defaultBorder
      background-color   : $lightGrey
      float              : left
      font-size          : 1em
      font-weight        : bold
      margin             : 0 .5em 0 0
      padding            : .5em .5em .5em .5em
      width              : 2em
      &:hover
        background-color : $greyTwo !important
    .pagerDisabledClass
      @inlcude defaultBorder
      background-color   : $readOnlyBlue
      float              : left
      font-size          : 1em
      font-weight        : bold
      margin             : 0 .5em 0 0
      padding            : .5em .5em .5em .5em
      width              : 2em
        
        
