.clearBoth {
  clear: both; }

.floatLeft {
  float: left; }

.floatRight {
  float: right; }

.formContainer .form {
  border-color: #444444;
  border-radius: 5px;
  border-style: solid;
  border-width: 0.1em;
  background-color: #dfdfdf;
  padding: 0.5em 0.5em 0.5em 0.5em;
  width: 20em; }
  .formContainer .form .formRow .inputTextbox {
    float: left;
    height: 1.6em; }
  .formContainer .form .formRow .formRowLabel {
    float: left;
    width: 7em; }
  .formContainer .form .formRow #todaydate {
    float: right; }
  .formContainer .form .submitButton {
    background-color: #cceef8;
    border-color: #009ac4;
    border-style: solid;
    border-width: 0.2em;
    color: #009ac4;
    font-size: 1em;
    padding: 0 0.1em 0.1em 0.1em;
    border-color: #444444;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.1em;
    width: 2em;
    height: 2em; }
  .formContainer .form .error {
    border-color: #444444;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.1em;
    background-color: #984545;
    color: white;
    font-size: large;
    padding: 0.4em 0.4em 0 0.4em; }
  .formContainer .form .info {
    border-color: #444444;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.1em;
    background-color: #285f3a;
    color: white;
    font-size: large;
    padding: 0.4em 0.4em 0 0.4em; }

.popupDatePickerContainer .datePickerPopup {
  background-color: #e0ecff;
  border: solid red 0px;
  color: black;
  font-size: 80%;
  margin: 0 0 0 0.5em;
  position: absolute;
  visibility: hidden;
  outline: 0; }
.popupDatePickerContainer .popupDatePickerButton {
  background-color: #007898;
  background-image: url("/image/calendar.jpg");
  border-width: 0 !important;
  height: 2em;
  padding: 0 0 0 0;
  width: 2.8em; }

.goog-date-picker {
  font: 13px Arial;
  border-width: 0em;
  position: relative;
  /* The container border... This does not include the border of the pop up container */
  float: left;
  padding: 0.2em 0.2em 0.2em 0.2em;
  /* This is for the overall container including the left bar with the week # background: #6493ff */
  cursor: default;
  /* This is for the button links 'Month', 'Year', 'Today', and 'None' */ }
  .goog-date-picker table {
    border-collapse: collapse; }
    .goog-date-picker table tbody tr th {
      color: #444444;
      background-color: #dfdfdf; }
    .goog-date-picker table tfoot {
      margin-bottom: 0.2em;
      padding: 0.2em 0.2em 0.2em 0.2em; }
  .goog-date-picker th {
    text-align: center; }
  .goog-date-picker td {
    text-align: center;
    vertical-align: middle;
    padding: 1px 3px;
    font-size: 0.9em; }
    .goog-date-picker td div {
      float: left; }
  .goog-date-picker button {
    padding: 0 0 0 0 !important;
    margin: 1px 0 0 0 !important;
    background-color: #dfdfdf;
    color: #444444 !important;
    font-weight: bold !important; }
  .goog-date-picker .goog-date-picker-btn {
    border: none; }

/* This is for the month and year drop down list */
.goog-date-picker-menu {
  border-color: #444444;
  border-radius: 5px;
  border-style: solid;
  border-width: 0.1em;
  background: #00a2ce;
  color: #dfdfdf;
  outline: none;
  padding: 0.2em 0.2em 0.2em 0.2em;
  position: absolute;
  z-index: 1; }
  .goog-date-picker-menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px; }
    .goog-date-picker-menu ul li {
      cursor: default; }

/* This is the drop down selected item */
.goog-date-picker-menu-selected {
  background: #00a2ce;
  color: white; }

/* This is the background for all the weekdays (M-F) in the current month */
.goog-date-picker-date {
  background-color: #444444;
  color: white;
  font-weight: bold; }

/* This is the sun mon... sat text container */
.goog-date-picker-wday {
  padding: 1px 3px;
  border: 0;
  background-color: #c9c3bc !important;
  border-bottom-width: 1px;
  color: #444444; }

.goog-date-picker-week {
  padding: 1px 3px;
  border: 0;
  background-color: #dfdfdf;
  border-right-width: 1px; }

.goog-date-picker-month {
  width: 12ex; }

.goog-date-picker-year {
  width: 6ex; }

/* This is for the days before the current month, and after */
.goog-date-picker-other-month {
  color: #565656 !important; }

/* This holds the month and year section of the header */
.goog-date-picker-head {
  background-color: #dfdfdf;
  height: 2em; }
  .goog-date-picker-head td {
    text-align: center; }

/* This holds the 'Today' and 'None' section of the footer */
.goog-date-picker-foot {
  background-color: #dfdfdf;
  height: 2em; }

td.goog-date-picker-today-cont {
  text-align: center; }

td.goog-date-picker-none-cont {
  text-align: center; }

/* This is the left and right column that holds the weekend */
.goog-date-picker-wkend-start,
.goog-date-picker-wkend-end {
  background: #c9c3bc; }

td.goog-date-picker-selected {
  /* this is for the selected date even if that date is today */
  background: #00a2ce;
  color: white; }

.goog-date-picker-today {
  /* For non selected current day container */
  background: #2d3b72;
  font-weight: bold !important;
  border-color: #224466 #99bbdd #99bbdd #224466;
  color: white; }

.theEditableDiv {
  background-color: #dfdfdf;
  border-radius: 5px;
  min-height: 10em;
  padding: 1em 1em 1em 1em;
  width: 11em; }
  .theEditableDiv .textContainer {
    background-color: #545454;
    border-radius: 5px;
    color: white;
    min-height: 8em;
    padding: 1em 1em 1em 1em;
    width: 11em;
    word-break: break-all;
    word-break: break-word; }
  .theEditableDiv .textUpdateForm .editTextArea {
    border-radius: 5px;
    min-height: 10em;
    width: 11em; }
  .theEditableDiv .textUpdateForm button {
    background-color: #cceef8;
    border-color: #009ac4;
    border-style: solid;
    border-width: 0.2em;
    color: #009ac4;
    font-size: 1em;
    padding: 0 0.1em 0.1em 0.1em;
    border-radius: 5px;
    height: 1.5em;
    margin: 0 0.2em 0 0;
    width: 1.5em; }
    .theEditableDiv .textUpdateForm button:hover {
      background-color: #009ac4 !important;
      color: #cceef8; }
  .theEditableDiv .textUpdateForm #textUpdateForm_messageBox {
    border-color: #444444;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.1em;
    margin: 1em 0 0 0; }
    .theEditableDiv .textUpdateForm #textUpdateForm_messageBox div {
      padding: 0.3em 0.3em 0.3em 0.3em; }
    .theEditableDiv .textUpdateForm #textUpdateForm_messageBox .error {
      background-color: #984545;
      color: white; }
    .theEditableDiv .textUpdateForm #textUpdateForm_messageBox .info {
      background-color: #628a2c;
      color: white; }

.gridBuilderContainer {
  border-color: #444444;
  border-radius: 5px;
  border-style: solid;
  border-width: 0.1em;
  background-color: #565656;
  margin: 2em 0 0 0;
  width: 55em; }
  .gridBuilderContainer .short {
    width: 8em; }
  .gridBuilderContainer .medium {
    width: 12em; }
  .gridBuilderContainer .long {
    width: 20em; }
  .gridBuilderContainer .gridBuilderHeaderRowClass {
    background-color: #9e9e9e;
    margin: 0 0 0.5em 0;
    padding: 0 0 0 0; }
    .gridBuilderContainer .gridBuilderHeaderRowClass .gridBuilderHeaderClass {
      color: white;
      float: left;
      font-weight: bold;
      margin: 0 1em 0 0;
      padding: 0.2em 0.2em 0.2em 0.2em;
      border-width: 0.2em 0.2em 0.2em 0.2em;
      border-style: solid;
      border-color: #9e9e9e #9e9e9e #9e9e9e #9e9e9e; }
      .gridBuilderContainer .gridBuilderHeaderRowClass .gridBuilderHeaderClass:hover {
        background-color: #dfdfdf !important;
        color: #414141; }
    .gridBuilderContainer .gridBuilderHeaderRowClass .ascending {
      border-width: 0.2em 0.2em 0.2em 0.2em;
      border-style: solid;
      border-color: #414141 #9e9e9e #9e9e9e #9e9e9e; }
    .gridBuilderContainer .gridBuilderHeaderRowClass .descending {
      border-width: 0.2em 0.2em 0.2em 0.2em;
      border-style: solid;
      border-color: #9e9e9e #9e9e9e #414141 #9e9e9e; }
  .gridBuilderContainer .gridBuilderRowContainer {
    height: 8em;
    margin: 0 0 0.5em 0;
    padding: 0 0 0 0; }
    .gridBuilderContainer .gridBuilderRowContainer .gridBuilderMessageClass {
      color: white;
      font-size: 2em;
      margin: 0.5em 0.5em 0.5em 0.5em; }
    .gridBuilderContainer .gridBuilderRowContainer .gridBuilderRowClass:hover {
      background-color: #9e9e9e !important; }
    .gridBuilderContainer .gridBuilderRowContainer .gridBuilderRowClass .gridBuilderColumnClass {
      color: white;
      float: left;
      font-weight: bold;
      margin: 0 1em 0 0;
      padding: 0.2em 0.2em 0.2em 0.2em; }
  .gridBuilderContainer .gridBuilderButtonRowClass {
    padding: 0 0 0.5em 0; }
    .gridBuilderContainer .gridBuilderButtonRowClass .pagerEnabledClass {
      @inlcude defaultBorder;
      background-color: #c9c3bc;
      float: left;
      font-size: 1em;
      font-weight: bold;
      margin: 0 0.5em 0 0;
      padding: 0.5em 0.5em 0.5em 0.5em;
      width: 2em; }
      .gridBuilderContainer .gridBuilderButtonRowClass .pagerEnabledClass:hover {
        background-color: #9e9e9e !important; }
    .gridBuilderContainer .gridBuilderButtonRowClass .pagerDisabledClass {
      @inlcude defaultBorder;
      background-color: #009cc7;
      float: left;
      font-size: 1em;
      font-weight: bold;
      margin: 0 0.5em 0 0;
      padding: 0.5em 0.5em 0.5em 0.5em;
      width: 2em; }

.loginContainer .loginForm {
  border-color: #444444;
  border-radius: 5px;
  border-style: solid;
  border-width: 0.1em;
  background-color: #dfdfdf;
  padding: 0.5em 0.5em 0.5em 0.5em;
  width: 17em; }
  .loginContainer .loginForm .formRow .formRowLabel {
    display: block;
    float: left;
    width: 5em; }
  .loginContainer .loginForm .formRow .inputTextbox {
    border-radius: 0.4em;
    float: left; }
  .loginContainer .loginForm .submitButton {
    background-color: #cceef8;
    border-color: #009ac4;
    border-style: solid;
    border-width: 0.2em;
    color: #009ac4;
    font-size: 1em;
    padding: 0 0.1em 0.1em 0.1em;
    height: 2em;
    width: 2em; }
  .loginContainer .loginForm .error {
    border-color: #444444;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.1em;
    background-color: #984545;
    color: white;
    font-size: large;
    margin: 0.2em 0 0 0;
    padding: 0.4em 0.4em 0 0.4em; }
  .loginContainer .loginForm .info {
    border-color: #444444;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.1em;
    background-color: #285f3a;
    color: white;
    font-size: large;
    margin: 0.2em 0 0 0;
    padding: 0.4em 0.4em 0 0.4em; }

.entryForm {
  margin: 0 0 0.5em 0;
  width: 16.2em; }
  .entryForm .entryTextbox {
    height: 2em;
    width: 14.9em; }
  .entryForm .submitButton {
    border-color: #444444;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.1em;
    background-color: #007898;
    color: #cceef8;
    font-size: 1em;
    margin: 0 0.3em 0 0;
    width: 2em;
    margin: 0 0 0 1.5em;
    height: 2em; }
    .entryForm .submitButton:hover {
      background-color: #dfdfdf !important;
      color: #414141; }
  .entryForm #entryForm_messageBox {
    margin: 0.2em 0 0 0; }
    .entryForm #entryForm_messageBox .error {
      padding: 0.5em 0.5em 0.5em 0.5em;
      border-color: #444444;
      border-radius: 5px;
      border-style: solid;
      border-width: 0.1em;
      background-color: #984545;
      color: white; }
    .entryForm #entryForm_messageBox .info {
      padding: 0.5em 0.5em 0.5em 0.5em;
      border-color: #444444;
      border-radius: 5px;
      border-style: solid;
      border-width: 0.1em;
      background-color: #628a2c;
      color: white; }

.itemsGrid {
  /* Pager */ }
  .itemsGrid .gridBuilderRowContainer {
    border-color: #444444;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.1em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin: 0 0 0.5em 0;
    width: 18em; }
    .itemsGrid .gridBuilderRowContainer .gridBuilderRowClass {
      border-color: #444444;
      border-radius: 5px;
      border-style: solid;
      border-width: 0.1em;
      padding: 0.5em 0.5em 0.5em 0.5em;
      background-color: #5d5d5d;
      margin: 0 0 0.2em 0; }
      .itemsGrid .gridBuilderRowContainer .gridBuilderRowClass .editTextArea {
        margin: 0.3em 0 0.3em 0 !important;
        width: 19.85em; }
      .itemsGrid .gridBuilderRowContainer .gridBuilderRowClass .textUpdateForm {
        padding: 0 0 0.5em 0; }
      .itemsGrid .gridBuilderRowContainer .gridBuilderRowClass #textUpdateForm_messageBox {
        border-color: #444444;
        border-radius: 5px;
        border-style: solid;
        border-width: 0.1em;
        margin: 0.4em 0 0 0; }
        .itemsGrid .gridBuilderRowContainer .gridBuilderRowClass #textUpdateForm_messageBox div {
          padding: 0.3em 0.3em 0.3em 0.3em; }
        .itemsGrid .gridBuilderRowContainer .gridBuilderRowClass #textUpdateForm_messageBox .error {
          background-color: #984545;
          color: white; }
        .itemsGrid .gridBuilderRowContainer .gridBuilderRowClass #textUpdateForm_messageBox .info {
          background-color: #628a2c;
          color: white; }
      .itemsGrid .gridBuilderRowContainer .gridBuilderRowClass .textContainer {
        padding: 0.5em 0.5em 0.5em 0.5em;
        background-color: #007898;
        border-radius: 0 0 5px 5px;
        color: #cceef8;
        min-height: 7em; }
      .itemsGrid .gridBuilderRowContainer .gridBuilderRowClass .wallInformation {
        background-color: #cceef8;
        border-radius: 5px 5px 0 0;
        color: #007898; }
        .itemsGrid .gridBuilderRowContainer .gridBuilderRowClass .wallInformation .wallInformationText {
          padding: 0.5em 0.5em 0.5em 0.5em;
          float: left; }
        .itemsGrid .gridBuilderRowContainer .gridBuilderRowClass .wallInformation .deleteContainer {
          border-color: #545454;
          border-style: solid;
          border-width: 0 0 0 0.2em;
          background-color: #007898;
          border-radius: 0 5px 0 0;
          color: #dfdfdf;
          height: 2em;
          float: right;
          margin: 0 0 0 0;
          padding: 0.3em 0.3em 0 0.3em; }
          .itemsGrid .gridBuilderRowContainer .gridBuilderRowClass .wallInformation .deleteContainer:hover {
            background-color: #984545 !important;
            color: #dfdfdf; }
      .itemsGrid .gridBuilderRowContainer .gridBuilderRowClass .submitButton {
        border-color: #444444;
        border-radius: 5px;
        border-style: solid;
        border-width: 0.1em;
        background-color: #007898;
        color: #cceef8;
        font-size: 1em;
        margin: 0 0.3em 0 0;
        width: 2em; }
        .itemsGrid .gridBuilderRowContainer .gridBuilderRowClass .submitButton:hover {
          background-color: #dfdfdf !important;
          color: #414141; }
      .itemsGrid .gridBuilderRowContainer .gridBuilderRowClass .updateFormCancel {
        border-color: #444444;
        border-radius: 5px;
        border-style: solid;
        border-width: 0.1em;
        background-color: #007898;
        color: #cceef8;
        font-size: 1em;
        margin: 0 0.3em 0 0;
        width: 2em; }
        .itemsGrid .gridBuilderRowContainer .gridBuilderRowClass .updateFormCancel:hover {
          background-color: #dfdfdf !important;
          color: #414141; }
  .itemsGrid .gridBuilderButtonRowClass .pagerEnabledClass {
    border-color: #444444;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.1em;
    background-color: #007898;
    color: #cceef8;
    font-size: 1em;
    margin: 0 0.3em 0 0;
    width: 2em;
    padding: 0.2em 0.2em 0.2em 0.2em;
    float: left; }
    .itemsGrid .gridBuilderButtonRowClass .pagerEnabledClass:hover {
      background-color: #dfdfdf !important;
      color: #414141; }
  .itemsGrid .gridBuilderButtonRowClass .pagerDisabledClass {
    border-color: #444444;
    border-radius: 5px;
    border-style: solid;
    border-width: 0.1em;
    background-color: #007898;
    color: #cceef8;
    font-size: 1em;
    margin: 0 0.3em 0 0;
    width: 2em;
    padding: 0.2em 0.2em 0.2em 0.2em;
    background-color: #414141;
    color: #dfdfdf;
    float: left; }
    .itemsGrid .gridBuilderButtonRowClass .pagerDisabledClass:hover {
      background-color: #dfdfdf !important;
      color: #414141; }
